@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

/* ************************************ General/Global styles *********************************************** */

body {
  font-family: 'Caveat Brush', cursive, sans-serif;
}

.modal-content {
  background-color: #e9f547;
  font-size: 22px;
}

.btn{
  font-size: 26px;
  min-width: 80px;
  margin-right: 20px;
}

.button-click:active {
  box-shadow: 0 5px #666;
  transform: translate(2px, 4px);
}

/* ************************************ index.html *********************************************** */

.opening-screen {
  position: absolute;
  visibility: hidden;
}

.opening-screen img {
  display: block;
}

#the, #pairs {
  position: relative;
  left: 55px;
}

.main-menu {
  background-image: url("../images/simpson_clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  overflow: hidden;
  font-family: 'Caveat Brush', cursive, sans-serif;
}

.menu-items {
  background-color: yellow;
  width: 25%;
  visibility: hidden;
  border-radius: 15px;
}

.main-menu ul {
  list-style-type: none;
  padding: 0;
}

.main-menu h1 {
  padding: 20px 0;
}

.menu-buttons {
  border-radius: 10px;
  background-color: blue;
  width: 150px;
  margin: 20px 0;
  font-size: 26px;
  color: #fafafa;
}

a.game-level {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    text-align: center;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    width: 150px;
    border-radius: 10px;
    border-width: 0;
    background-color: #0be04f;
    color: #fff;
    font-size: 24px;
}

a.game-level:hover {
  color: #42f57b;
  background-color: green;
}

.setting {
  display:inline-block;
  margin: 15px 0;
}


/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
  position: relative;
  width: 50px;
  height: 20px;
  left: 30%;
  margin: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.level-buttons {
  margin: 30px 0;
}

/* ************************************ game.html *********************************************** */

.cards {
  margin-left: 20px;
}


.game-background {
  background-image: url(../images/game_floor.png);
  height: 100%;
  /* display: table; */
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.game {
  background-image: url(../images/game_table.png);
  background-repeat: no-repeat;
  background-size:contain;
  /* display: table; */
  width: 1200px;
  height: 1200px;
  position: absolute;
  padding-right: 20px;
}

#quitButton {
  position: absolute;
  left: 30px;
  top: 15px;
  background-color: red;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  text-align: center;
  z-index: 2;
  font-size: 26px;
  color: #fafafa;
}

#timer {
  background-color: #f5a442;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  z-index: 2;
  position: absolute;
  left: 45%;
  top: 15px;
  color: #fafafa;

  font-size: 30px;
}

#score {
  position: absolute;
  top:15px;
  color: #fff;
  background-color: #f5a442;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  right:100px;
  z-index: 2;
}

#mistakes {
  position: absolute;
  top:15px;
  color: #fff;
  background-color: #f5a442;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  right: 300px;
  z-index: 2;
}


/* *************** Card styling and effects ********************** */

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-flip {
  width: 100px;
  height: 160px;
  perspective: 600px;
  margin: 10px;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card__face--back {
  background: #35c465;
  transform: rotateY( 180deg );
}

.card__face--back img {
  transform: translate(-2px, 20px);
}

.card.is-flipped {
  transform: rotateY(180deg);
}


#gameCompleteText button {
  margin: auto;
}

#gameCompleteText button a {
  text-decoration: none;
}

#gameCompleteText button a:hover {
  text-decoration: none;
}

.center-buttons {
  text-align: center;
  margin: 20px;
}

.player-name {
  margin-top: 15px;
  font-size: 26px;
}

#quitButton:hover {
  background-color: #990000;
}

/* *************** Card Pictures ********************** */

.homer {
  background-image: url(../images/homer_simpson.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}

.bart {
  background-image: url(../images/bart_simpson.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}

.marge {
  background-image: url(../images/marge_simpson.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}

.lisa {
  background-image: url(../images/lisa_simpson.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}

.maggie {
  background-image: url(../images/maggie.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}

.flanders {
  background-image: url(../images/ned_flanders.png);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}

.apu {
  background-image: url(../images/apu_nahasapeemapetilon.png);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}

.wiggum {
  background-image: url(../images/chief_wiggum.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}

.skinner {
  background-image: url(../images/skinner.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}

.lovejoy {
  background-image: url(../images/lovejoy.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}

.moe {
  background-image: url(../images/moe_szyslak.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}

.willie {
  background-image: url(../images/groundskeeper_willie.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}

.milhouse {
  background-image: url(../images/milhouse_van_houten.png);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}

.krusty {
  background-image: url(../images/krusty_the_clown.png);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}


/* ************************************ high_scores.html *********************************************** */

.high-scores-background {
  background-image: url(../images/simpsons_chalkboard.jpg);
  background-repeat: no-repeat;
  background-position: 0% 0%;

  background-size: 210vh;
  overflow: hidden;
}

.high-scores {
  transform:translate(-55px, 130px);
  color: #f2f2f2;
  font-size: 26px;
  font-weight: 100;
}

.high-scores table {
  margin: auto;
}

.high-scores table th, .high-scores table td  {
  padding: 5px 20px;
}

#exit {
  font-size: 30px;
  transform: translate(20px, 30px);
  width: 140px;
  border-radius: 10px;
  outline: none;
  background-color: #edede8;
  color: #24d146;
}

#exit:hover {
  background-color: #fafafa;
  color: #0ffc03;
}

#exit:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translate(20px, 34px);
}

#clearScores {

  position: absolute;
  width: 150px;
  font-size: 26px;
  border-radius: 10px;
  outline: none;
  background-color: grey;
  bottom: 5%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#clearScores:hover {
  background-color: #cbf2c9;
}

#clearScores:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translate(-4px, 4px);
}


/* ******************************** Media Queries ****************************************** */

@media screen and (max-width: 1690px) {

}

@media screen and (max-width: 1580px) {

}

@media screen and (max-width: 1560px) {

}

@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 1140px) {

}

@media screen and (max-width: 1025px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 610px) {

}

@media screen and (max-width: 515px) {
  .menu-items {
    width: 75%;
  }
  .opening-screen {
    -webkit-transform: scale(0.7); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.7); /* FF3.5+ */
     -ms-transform: scale(0.7); /* IE9 */
      -o-transform: scale(0.7); /* Opera 10.5+ */
         transform: scale(0.7);
  }
}

@media screen and (max-width: 385px) {
  .card-flip {
    -webkit-transform: scale(0.4); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.4); /* FF3.5+ */
     -ms-transform: scale(0.4); /* IE9 */
      -o-transform: scale(0.4); /* Opera 10.5+ */
         transform: scale(0.4);
    margin: -25px;
  }
  .cards .row {
    margin: -30px;
  }
  .game {
    background-size: 50%;
    background-position: center;
  }
  #quitButton, #timer, #score, #mistakes, #exit, #clearScores {
    -webkit-transform: scale(0.6); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.6); /* FF3.5+ */
     -ms-transform: scale(0.6); /* IE9 */
      -o-transform: scale(0.6); /* Opera 10.5+ */
         transform: scale(0.6);
  }
  #quitButton {
    left: 5px;
    top: -10px;
  }

  #timer {
    top: auto;
    bottom: 40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #score {
    top: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #mistakes {
    top: 5px;
    right: 5px;
  }

  .high-scores {

    -webkit-transform: scale(0.65) translate(-50px, 100px); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.65) translate(-50px, 100px); /* FF3.5+ */
     -ms-transform: scale(0.65) translate(-50px, 100px); /* IE9 */
      -o-transform: scale(0.65) translate(-50px, 100px); /* Opera 10.5+ */
         transform: scale(0.65) translate(-50px, 100px);


  }

  .high-scores table th, .high-scores table td  {
    padding: 0 10px;
  }

  .high-scores-background {
    background-position: 60% 0%;
    background-size: 210vh;
    overflow: hidden;
  }

}

@media screen and (max-width: 320px) {
  .high-scores {
    -webkit-transform: scale(0.6) translate(-50px,30px); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.6) translate(-50px, 30px); /* FF3.5+ */
     -ms-transform: scale(0.6) translate(-50px, 30px); /* IE9 */
      -o-transform: scale(0.6) translate(-50px, 30px); /* Opera 10.5+ */
         transform: scale(0.6) translate(-50px, 30px);

  }

  .high-scores table th, .high-scores table td  {
    padding: 0 5px;
  }

}

@media screen and (min-width: 100px) {
  .card-deck {
    display: flex;
    flex-flow: row wrap;
  }
}
